

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body{
    font-family: Lato;
    font-size: 16px;
}
header{
    background: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
	padding:25px 0;
    z-index: 9;
}
@font-face {
    font-family: Finder;
    src: url('../fonts/theboldfont.ttf');
}
@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Light.ttf');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: normal
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
nav{
    background: transparent;
    border: none;
    box-shadow: none;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}
.navbar-fixed{
        position: absolute;
}
nav ul a, nav ul a:hover, nav ul a:focus{
    text-decoration: none;
    color: #fff;

}
a, a:hover, a:focus{
    text-decoration: none;
    color: #777;
}
strong{
    font-weight: 700;
}
.headergrande{
    background: transparent;
}
.headermini{
    background: rgba(0,0,0,0.3);
    height: 85px;
}
.brand-logo img{
    max-width: 150px;
    padding: 20px 15px;
}
.nav-links{
    padding: 10px 0;
}

.title-style-2 {
    margin: 50px 0;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
    color: #434a54;
    display: inline-block;
    width: auto;

}
.title-style-2:after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: -57px;
    width: 50px;
    height: 3px;
    background-color: #ffdd00;
}

@keyframes color-text {
0% {
background-position: 0 0;
}
100% {
background-position: 475px 0;
}
}
.homepage-banner-warpper {
    width: 100%;
    height: 100%;
}
.homepage-banner-content {
    vertical-align: middle;
    text-align: center;
}
.group-title {
    display: inline-block;
    padding-top: 50px;
}
.group-title {
    margin-bottom: 20px;
    text-align: left;
}
.group-title .banner, .group-title .banner {
    background: linear-gradient(to right, #ffffff 0%, #ffffff 15%, #ffffff 35%, #ffffff 50%, #ffffff 85%, #ffdd00 90%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: color-text 8s linear infinite;
}
.group-title .banner {
    text-transform: uppercase;
    margin: 0;
    font-weight: 900;
    color: #fff;
}

.group-title .banner,
.group-title .banner {
    background: linear-gradient(to right, #ffffff 0%, #ffffff 15%, #ffffff 35%, #ffffff 50%, #ffffff 85%, #ffdd00 90%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: color-text 8s linear infinite;
}
.group-title {
display: inline-block;
padding-top: 50px;
}
.group-title .banner {
text-transform: uppercase;
margin: 0;
font-weight: 900;
color: #fff;
}
.group-title .sub-banner {
text-transform: uppercase;
font-size: 16px;
margin: 0;
letter-spacing: 1px;
display: inline-block;
font-family: Lato;
font-weight: bold;
color: #fff;
}
.group-title .text .boder {
border-bottom: 1px solid #fff;
display: inline-block;
}
.group-title .sub-banner .boder {
    border-bottom: 1px solid #fff;
    display: inline-block;
}
.filter{
    background: #ffdd00;
    color: #000;
    padding: 30px 0;
}
.filter h5{
    font-weight: bold;
}
.form-inline{
    text-align: center;
}
.form-inline .form-control {
    width: 100%;
}
.form-inline .btn{
    background: #3C3C3C;
    width: 100%;
}
.form-inline .btn:hover{
    color: #fff;
}
.form-inline .form-group{
    text-align: left;
}
.pestana{
    position: absolute;
    top: -70px;
    margin: 0 auto;
    left: 50%;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 600;
}
.pestana p {
    cursor: pointer;
    margin: 0;
    position: relative;
    left: -50%;
    background: #ffdd00;
    padding: 10px 40px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}
.pestana p a{
    color: inherit;
    text-decoration: none;
}
.titlemain{
    background: url('../img/money-256314_1280.png');
    background-size: cover;
    padding: 100px;
    background-position: center center;
}
.titleinner{
        background: #fff;
    text-align: center;
    padding: 10px;
}
.titleinner{
    padding: 10px 0;
}
h1{
    margin: 0;
}
.info .info-item{
        padding: 80px 0;
}

.info-item svg{
    margin: 40px 0;
    color: #6421C6;
}

#search {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    background: url('../img/search.jpg');
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
    
    opacity: 0.8;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
	
    font-family: Finder;


    width: 70%;
    color: #fff;
    background: rgba(155, 155, 155, 0.58);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 2px solid #ccc;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    line-height: 1.4;
    text-align: center !important;
}
#search input[type="search"]::placeholder {
    color: #fff;
}
#search .btn {
	font-family: Finder;


    background-color: #1565C0;
    font-size: 30px;
}

.img-container {
    height: 140px;
    margin: 0 auto 15px;
    position: relative;
    text-align: center;
}
.img-container img{
    height: auto;
    max-height: 140px;
    max-width: 100%;
    width: auto;
    transition: 0.3s;
}
.product-small:hover .img-container img{
    transform: scale(0.8);
}
.product-small{
    cursor: pointer;
}

.pricefrom p{
    color: #959595;
    font-family: Lato;
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
}

.price{
    color: #1565C0;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.name{
    font-size: 0.9rem;
    font-weight: 700;
    font-family: Lato;
}
.from{
    color: #959595;
    font-family: Lato;
    font-size: 1rem;
    margin: 0;
    font-weight: light;
}

.carousel-control {
    background: transparent;
    background-image: none !important;
    font-size: 50px;
    color: #000;
    top: 30%;
    width: auto
}


hr {
    border-top: 2px solid #ccc;
}

.main-stores{
    background: #E9E9E9;
    padding: 100px 0;
}
.logostore{
    height: 80px; background: #ccc;
    border-radius: 2px;

}
.store-name{
    padding: 20px 0;
}
.logo{
    
    padding: 50px 0;

}
.logo img, .store-product-image img{
    border-radius: 5px;
    max-width: 50px; margin: 0 auto;
    border: 1px solid #ccc;

}
.store-link a{
    color:#959595;
    font-weight: bold; 
}

.store-link {
    padding-bottom: 20px;
}
#search p{
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-family: Finder;
}

.datepicker, .timepicker{
    cursor: pointer;
}
footer{
    background: #3C3C3C;
}



/*main terrazas*/
.terraza-small img{
    transition: 1s;
}
.terraza-small:hover img{
    transform: scale(1.2,1.2);
}
.title-wrapper {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    z-index: 5;
}
.terraza-small:hover .title-wrapper .title {
    color: #ffdd00;
}
.title-wrapper .title {
    color: #fff;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}
.title-wrapper .title:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 1px;
    background: #ffdd00;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.terraza-small:hover .title-wrapper .title:before {
    width: 100%;
}


/*contacto*/

.contact-box {
    background-color: #ffdd00;
    padding: 40px 35px;
    text-align: center;
    padding-top: 55px;
}
.contact-box input, .contact-box textarea {
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    padding-left: 20px;
    border: none;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 0px !important;
}
.contact-box .btn{
    background-color: #3c3c3c;
    border: 1px solid #3c3c3c;
    color: #fff;
    border: 1px solid #3c3c3c;
    background-color: #3c3c3c;
    border-radius: 50px;
    position: relative;
    text-align: center;
    color: #ffdd00;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
}

.contact{
     background: #FBFBFB;
}
.servicioslist li{
    float: left;
    margin-right: 20px;
}
.reservacion{
    border: 1px solid #ccc;
    padding: 15px;
    background: #fff;
}
.resfixed{
    position: fixed;
    top: 100px;
}
.btn-primary{
    background: #ffdd00; color: #000; font-family: Lato; font-weight: 600;
}

.btn-primary:hover{
    background: #555; color: #fff; font-family: Lato; font-weight: 600;
}
/*galeria*/

#galeria {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#galeria.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
    z-index: 99999999999999999999999999999999999;
}

#galeria .carousel {
    position: absolute;
    top: 15%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#galeria .carousel .item img{
    margin: 0 auto;
}
#galeria .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#galeria .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #000;
    background-color: #ffdd00;
    border-color: #ffdd00;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
}
.terrazatitle{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    
}
.terrazatitle h3{
    font-family: Lato;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.reservacionmini{
    background: #fff;
        position: fixed !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    z-index: 4 !important;

    padding: 30px;
}



 p.navtext {
      font-family:Tahoma;
      color: #777;
      font-size: 1.5rem;
      margin-top: 7px;
      margin-bottom: 5px;
    }
    .iconsterraza img {
      padding: 5px;
    }
    /*.company {
      background-color: #16225f;
    }
    .capabilities {
      background-color: #80BD00;
    }
    .branding {
      background-color: #00A1E1;
    }
    .creativelounge {
      background-color: #FC4F00;
    }
    .customercare {
      background-color: #932749;
    }*/
    .panel-heading {
      background: #000;
    }
    .centered-form{
        margin-top: 60px;
    }
    
    .centered-form .panel{
        background: #ffdd00;
    }
    
    /*Circle*/
    .navlinks div {
        position: relative;
    }
    .navlinks div::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        content: '';
        width: 0;
        height: 0;
        background: #ffdd0078;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    /*.navlinks div:hover::before {
        -webkit-animation: circle .75s;
        animation: circle .75s;
    }
    @-webkit-keyframes circle {
        0% {
            opacity: 1;
        }
        40% {
            opacity: 1;
        }
        100% {
            width: 120%;
            height: 120%;
            opacity: 0;
        }
    }
    @keyframes circle {
        0% {
            opacity: 1;
        }
        40% {
            opacity: 1;
        }
        100% {
            width: 120%;
            height: 120%;
            opacity: 0;
        }
    }*/
    .ite{
        font-size: 2.8em !important;
        padding: 5px;
    }

.headergrande{
    background: rgba(0,0,0,0.3);
    height: 85px;
  }
  .nbsp{
        height: 85px;
  }
  .sidebar{
    padding: 10px;
  }







/*registro*/
.registropro .board{
    width: 75%;
margin: 60px auto;
background: #fff;
/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
    border: 1px solid #ddd;
}
.registropro .board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    /*margin: 40px auto;*/
    margin-bottom: 0;
    box-sizing: border-box;

}

.registropro .board > div.board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}

.registropro p.narrow{
    width: 60%;
    margin: 10px auto;
}

.registropro .liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.registropro .nav-tabs > li.active > a, .registropro .nav-tabs > li.active > a:hover, .registropro .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

.registropro span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

.registropro span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

.registropro li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

.registropro span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}

.registropro li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

.registropro span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

.registropro li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

.registropro span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}

.registropro li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

.registropro span.round-tabs.five{
    color: #999;border: 2px solid #999;
}

.registropro li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.registropro .nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.registropro .nav-tabs > li {
    width: 20%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
.registropro .nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
.registropro .nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
    
}
.registropro .nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.registropro .nav-tabs > li a:hover{
    background: transparent;
}

.registropro .tab-content{
}
.registropro .tab-pane{
   position: relative;
padding-top: 50px;
}
.registropro .tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.registropro .btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.registropro .btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}



@media( max-width : 585px ){
    
    .registropro .board {
width: 90%;
height:auto !important;
}
    .registropro span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .registropro .tab-content .head{
        font-size:20px;
        }
    .registropro .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.registropro .nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.registropro .btn-outline-rounded {
    padding:12px 20px;
    }
}
.registropro .step{
    padding: 50px;
}
.registropro .galeria{
    max-height: 50vh;
}

/*carrito*/

/*
** Style Simple Ecommerce Theme for Bootstrap 4
** Created by T-PHP https://t-php.fr/43-theme-ecommerce-bootstrap-4.html
*/
.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}


/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

.materialboxed.active{
    max-width: 100% !important;
}