

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body{
    font-family: Lato;
    font-size: 16px;
}
header{
    background: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
	padding:25px 0;
    z-index: 9;
}
@font-face {
    font-family: Finder;
    src: url('../fonts/theboldfont.ttf');
}
@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Light.ttf');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: normal
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
nav{
    background: transparent;
    border: none;
    box-shadow: none;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}
.navbar-fixed{
        position: absolute;
}
nav ul a, nav ul a:hover, nav ul a:focus{
    text-decoration: none;
    color: #fff;

}
a{
    text-decoration: none;
}
.headergrande{
    background: transparent;
}
.headermini{
    background: rgba(255,255,255,0.3);
}
.brand-logo img{
    max-width: 200px;
    padding: 20px 15px;
}

.title-style-2 {
    margin: 50px 0;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
    color: #434a54;
    display: inline-block;
    width: auto;

}
.title-style-2:after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: -57px;
    width: 50px;
    height: 3px;
    background-color: #ffdd00;
}

@keyframes color-text {
0% {
background-position: 0 0;
}
100% {
background-position: 475px 0;
}
}
.homepage-banner-warpper {
    width: 100%;
    height: 100%;
}
.homepage-banner-content {
    vertical-align: middle;
    text-align: center;
}
.group-title {
    display: inline-block;
    padding-top: 50px;
}
.group-title {
    margin-bottom: 20px;
    text-align: left;
}
.group-title .banner, .group-title .banner {
    background: linear-gradient(to right, #ffffff 0%, #ffffff 15%, #ffffff 35%, #ffffff 50%, #ffffff 85%, #ffdd00 90%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: color-text 8s linear infinite;
}
.group-title .banner {
    text-transform: uppercase;
    margin: 0;
    font-weight: 900;
    color: #fff;
}

.group-title .banner,
.group-title .banner {
    background: linear-gradient(to right, #ffffff 0%, #ffffff 15%, #ffffff 35%, #ffffff 50%, #ffffff 85%, #ffdd00 90%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: color-text 8s linear infinite;
}
.group-title {
display: inline-block;
padding-top: 50px;
}
.group-title .banner {
text-transform: uppercase;
margin: 0;
font-weight: 900;
color: #fff;
}
.group-title .sub-banner {
text-transform: uppercase;
font-size: 16px;
margin: 0;
letter-spacing: 1px;
display: inline-block;
font-family: Lato;
font-weight: bold;
color: #fff;
}
.group-title .text .boder {
border-bottom: 1px solid #fff;
display: inline-block;
}
.group-title .sub-banner .boder {
    border-bottom: 1px solid #fff;
    display: inline-block;
}
.filter{
    background: #ffdd00;
    color: #000;
    padding: 30px 0;
}
.filter h5{
    font-weight: bold;
}
.form-inline{
    text-align: center;
}
.form-inline .form-control {
    width: 100%;
}
.form-inline .btn{
    background: #3C3C3C;
    width: 100%;
}
.form-inline .btn:hover{
    color: #fff;
}
.form-inline .form-group{
    text-align: left;
}
.pestana{
    position: absolute;
    top: -70px;
    margin: 0 auto;
    left: 50%;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 600;
}
.pestana p {
    cursor: pointer;
    margin: 0;
    position: relative;
    left: -50%;
    background: #ffdd00;
    padding: 10px 40px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}
.pestana p a{
    color: inherit;
    text-decoration: none;
}
.titlemain{
    background: url('../img/money-256314_1280.png');
    background-size: cover;
    padding: 100px;
    background-position: center center;
}
.titleinner{
        background: #fff;
    text-align: center;
    padding: 10px;
}
.titleinner{
    padding: 10px 0;
}
h1{
    margin: 0;
}
.info .info-item{
        padding: 80px 0;
}

.info-item svg{
    margin: 40px 0;
    color: #6421C6;
}

#search {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    background: url('../img/search.jpg');
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
    
    opacity: 0.8;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
	
    font-family: Finder;


    width: 70%;
    color: #fff;
    background: rgba(155, 155, 155, 0.58);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 2px solid #ccc;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    line-height: 1.4;
    text-align: center !important;
}
#search input[type="search"]::placeholder {
    color: #fff;
}
#search .btn {
	font-family: Finder;


    background-color: #1565C0;
    font-size: 30px;
}

.img-container {
    height: 140px;
    margin: 0 auto 15px;
    position: relative;
    text-align: center;
}
.img-container img{
    height: auto;
    max-height: 140px;
    max-width: 100%;
    width: auto;
    transition: 0.3s;
}
.product-small:hover .img-container img{
    transform: scale(0.8);
}
.product-small{
    cursor: pointer;
}

.pricefrom p{
    color: #959595;
    font-family: Lato;
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
}

.price{
    color: #1565C0;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.name{
    font-size: 0.9rem;
    font-weight: 700;
    font-family: Lato;
}
.from{
    color: #959595;
    font-family: Lato;
    font-size: 1rem;
    margin: 0;
    font-weight: light;
}

.carousel-control {
    background: transparent;
    background-image: none !important;
    font-size: 50px;
    color: #000;
    top: 30%;
    width: auto
}


hr {
    border-top: 2px solid #ccc;
}

.main-stores{
    background: #E9E9E9;
    padding: 100px 0;
}
.logostore{
    height: 80px; background: #ccc;
    border-radius: 2px;

}
.store-name{
    padding: 20px 0;
}
.logo{
    
    padding: 50px 0;

}
.logo img, .store-product-image img{
    border-radius: 5px;
    max-width: 50px; margin: 0 auto;
    border: 1px solid #ccc;

}
.store-link a{
    color:#959595;
    font-weight: bold; 
}

.store-link {
    padding-bottom: 20px;
}
#search p{
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-family: Finder;
}

.datepicker, .timepicker{
    cursor: pointer;
}
footer{
    background: #3C3C3C;
}



/*main terrazas*/
.terraza-small img{
    transition: 1s;
}
.terraza-small:hover img{
    transform: scale(1.2,1.2);
}
.title-wrapper {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    z-index: 5;
}
.terraza-small:hover .title-wrapper .title {
    color: #ffdd00;
}
.title-wrapper .title {
    color: #fff;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}
.title-wrapper .title:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 1px;
    background: #ffdd00;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.terraza-small:hover .title-wrapper .title:before {
    width: 100%;
}


/*contacto*/

.contact-box {
    background-color: #ffdd00;
    padding: 40px 35px;
    text-align: center;
    padding-top: 55px;
}
.contact-box input, .contact-box textarea {
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    padding-left: 20px;
    border: none;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 0px !important;
}
.contact-box .btn{
    background-color: #3c3c3c;
    border: 1px solid #3c3c3c;
    color: #fff;
    border: 1px solid #3c3c3c;
    background-color: #3c3c3c;
    border-radius: 50px;
    position: relative;
    text-align: center;
    color: #ffdd00;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
}

/*.contact{
     background: url('../img/contactbg.jpg');
    background-size: cover;
    background-position: top center;
}*/